*{
    box-sizing: border-box;
}
.top-nav{
    background-color: #333;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: antiquewhite;
    text-align: center;
    display: block;
    float: left;
    padding: 14px 16px;
}
a:hover {
    background-color: aliceblue;
    color: black;
}
.column {
    float: left;
    width: 25%;
    padding: 20px;
}