body{
    background-color: rgb(232, 159, 215);
    display: flex;
    justify-content: center;
}
.text-container{
    margin-top: 400px;
}

@media only screen and (max-width: 1400px) {
    
body{
    background-color: rgb(232, 159, 215);
}
#text-2,#text-3,#text-4,#text-5,#text-6{
    display: none;
}
}
@media only screen and (max-width: 1200px) {
    
    body{
        background-color: rgb(255, 0, 119);
    }
    #text-1,#text-3,#text-4,#text-5,#text-6{
        display: none;
    }
    #text-2{
        display: flex;
    }
}
@media only screen and (max-width: 992px) {
    
    body{
        background-color: rgb(255, 145, 0);
    }
}
@media only screen and (max-width: 768px) {
    
body{
    background-color: red;
}
}
@media only screen and (max-width: 567px) {
    
    body{
        background-color: rgb(255, 208, 0);
    }
}