body {
    font-size: 16px;
}
.para img {
    width: 16%;
    border-radius: 20px;
}
.section{
    display: flex;
    justify-content: space-between;
}
.left-side{
    width: 100%;
}
.city {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 0.8rem;
}
.city img{
    width: 20%;
    height: 120px;
    border-radius: 20px;
    margin-right: 10px;
}
.right-side{
    width: 20%;
    background-color: gray;
    border-radius: 30px;
    padding: 20px;
    margin-top: 20px;
    font-size: 0.80rem;
}
